body {
    font-family: 'Nunito', sans-serif!important;
}

h1 {
    font-weight: bolder;
    text-align: center;
}

.accordion {
    max-width: 500px;
}

.card .card-header {
    display: flex;
    cursor: pointer;
    padding: 0 1rem 0 1rem;
    background-color: rgb(56, 174, 220);
    color: white;
    font-weight: 700;
    border-bottom: 0;
}

.card .card-body {
    max-height: 0px;
    padding: 0 1rem 0 1rem;
    transition: max-height 0.5s ease;
    text-align: left;
    overflow: hidden;
    border-bottom: 0;
}

.card .card-body ul {
    padding: 1rem;
}

.card-title {
    justify-self: start;
    flex: 1 1;
    line-height: 2.5rem;
    margin: 0;
}

.card-btn {
    justify-self: end;
}

.card .card-header .card-btn {
    margin: auto;
}

.card-btn a {
    padding: 0;
}

.card-btn a span {
    line-height: 2.5rem;
}

.card-btn a span:hover {
    filter: brightness(85%);
}

.card .card-body p{
    padding: 1rem;
}

.card .card-header.active + .card-body {
    max-height: 20rem;
    transition: max-height 0.5s ease;
}