body {
    font-family: 'Nunito', sans-serif!important;
}

h1 {
    font-weight: bolder;
    text-align: center;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1;
    border-radius: .2rem;
}