<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'story9/styles.css' %}">
        <link rel="stylesheet" href="{% static 'navbar.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block title %}
        {% endblock title %}
    </head>
    <body>
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock content %}
        {% block scripts %}
        {% endblock scripts %}
        <script>$("#home").addClass('active');</script>
    </body>
</html>