{% extends 'story9/base.html' %}

{% block title %}
    <title>Home - Story PPW</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center px-2" id="homeC">
        <div class="col-10 pt-2">
            {% if request.user.username == '' %}
            <h1 class="mt-4 pt-2">Welcome, Traveler</h1>
            {% else %}
            <h1 class="mt-4 pt-2">Welcome, {{ request.user }}</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}