<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'story9/styles.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Login - Story PPW</title>
    </head>
    <body>
        <div class="container h-100">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" style="position: absolute; width: 75vw; left: 12.5%; top: 15px;">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ message }}
            </div>
            {% else %}
            <div class="alert alert-success alert-dismissible fade show" style="position: absolute; width: 75vw; left: 12.5%; top: 15px;">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <h2 id="form-title">Login</h2>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="material-icons">person</i></span>
                                </div>
                                <input type="text" name="username" placeholder="Username" class="form-control">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="material-icons">vpn_key</i></span>
                                </div>
                                <input type="password" name="password" placeholder="Password" class="form-control">
                            </div>
                               <div class="d-flex justify-content-center mt-3 login_container">
                                 <input class="btn login_btn" type="submit" value="Login">
                               </div>
                        </form>
                    </div>
            
                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            Don't have an account? <a href="{% url 'story9:register' %}" class="ml-1">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>