<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'story9/styles.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Sign up - Story PPW</title>
    </head>
    <body>
        <div class="container h-100">
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ message }}
            </div>
            {% endfor %}
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <h2 id="form-title">Sign Up</h2>
                    </div>
                    <div class="d-flex justify-content-center form_container">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="material-icons">person</i></span>
                                </div>
                                {{ form.username }}
                            </div>
                            <p class="validation mb-1">{{ form.username.errors.as_text|cut:"* " }}</p>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="material-icons">email</i></span>
                                </div>
                                {{ form.email }}
                            </div>
                            <p class="validation mb-1">{{ form.email.errors.as_text|cut:"* " }}</p>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="material-icons">vpn_key</i></span>
                                </div>
                                {{ form.password1 }}
                            </div>
                            <p class="validation">{{ form.password1.errors.as_text|cut:"* " }}</p>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="material-icons">vpn_key</i></span>
                                </div>
                                {{ form.password2 }}
                            </div>
                            {% for error in form.password2.errors %}
                            <p class="validation">{{ error }}</p>
                            {% endfor %}
                               <div class="d-flex justify-content-center mt-3 login_container">
                                 <input class="btn login_btn" type="submit" value="Sign Up">
                               </div>
                        </form>
                    </div>
            
                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            Already have an account? <a href="{% url 'story9:login' %}" class="ml-1">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>