{% extends 'story7/base.html' %}

{% block content %}
<div class="container">	
    <div class="row justify-content-center px-2">
        <div class="col-10 pt-2">
            <h1 class="mt-4 pt-2">Accordion</h1>
            <hr class="mt-0 mb-4" style="max-width: 500px;">
        </div>
        <div class="accordion">
            <div class="card a1">
                <div class="card-header">
                    <div class="card-title">Current Activities</div>
                    <div class="card-btn">
                        <a class="btn btn-sm btn-up"><span class="material-icons">arrow_circle_up</span></a>
                        <a class="btn btn-sm btn-dw"><span class="material-icons">arrow_circle_down</span></a>
                    </div>
                </div>
                <div id="c1" class="card-body">
                    <ul>
                        <li>Lab 3 SDA</li>
                        <li>Story 7 PPW</li>
                        <li>PR 3 StatProb</li>
                        <li>Pop Quiz MatDas 2</li>
                    </ul>
                </div>
            </div>
            <div class="card a2">
                <div class="card-header">
                    <div class="card-title">Experiences</div>
                    <div class="card-btn">
                        <a class="btn btn-sm btn-up"><span class="material-icons">arrow_circle_up</span></a>
                        <a class="btn btn-sm btn-dw"><span class="material-icons">arrow_circle_down</span></a>
                    </div>
                </div>
                <div id="c2" class="card-body">
                    <ul>
                        <li>Teaching Assistant of Programming Foundations 1</li>
                        <li>Game Development Junior Member of Ristek Fasilkom UI</li>
                        <li>Supervision Commission Staff of DPM Fasilkom UI</li>
                        <li>Front-end Web Developer Staff of BETIS Fasilkom UI</li>
                    </ul>
                </div>
            </div>
            <div class="card a3">
                <div class="card-header">
                    <div class="card-title">Achievements</div>
                    <div class="card-btn">
                        <a class="btn btn-sm btn-up"><span class="material-icons">arrow_circle_up</span></a>
                        <a class="btn btn-sm btn-dw"><span class="material-icons">arrow_circle_down</span></a>
                    </div>
                </div>
                <div id="c3" class="card-body">
                    <ul>
                        <li>Gold Medalist of World Young Inventors Exhibition 2018</li>
                    </ul>
                </div>
            </div>
            <div class="card a4">
                <div class="card-header">
                    <div class="card-title">Hobbies</div>
                    <div class="card-btn">
                        <a class="btn btn-sm btn-up"><span class="material-icons">arrow_circle_up</span></a>
                        <a class="btn btn-sm btn-dw"><span class="material-icons">arrow_circle_down</span></a>
                    </div>
                </div>
                <div id="c4" class="card-body">
                    <ul>
                        <li>Code</li>
                        <li>Game</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function(){
        $(".card-title").click(function(){
            var head = $(this).parent();
            if (head.hasClass('active')) {
                head.toggleClass('active');
            } else {
                $(".card-header").removeClass('active');
                head.toggleClass('active');
            }
        });

        $(".btn-up, .btn-dw").click(function(){
            var block = $(this).parent().parent().parent()
            if ($(this).is(".btn-up")) {
                if (block.not(':first-child')) {
                    block.prev().before(block);
                } 
            } else {
                if (block.not(':last-child')) {
                    block.next().after(block);
                }
            }           
        });
    });
</script>
{% endblock scripts %}