{% extends 'story6/base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container align-items-center">	
  <div class="row justify-content-center align-items-center">
    <h1>Add Activity</h1>
  </div>
  <div class="card text-center d-flex justify-content-center align-items-center p-3">
    <form method="POST" class="is-valid">
      {% csrf_token %}
      {{ form.name|as_crispy_field }}
      <button class="btn btn-primary" type="submit">Add</button>
    </form>
	</div>
</div>

{% endblock content %}