{% extends 'story6/base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">	
		<h1 class="mt-4 text-center">Activities   <a href="{% url 'story6:add' %}"><i class="material-icons align-middle" style="font-size: 1.75rem;">add_circle_outline</i></a></h1>
		<hr class="mt-0 mb-4">
		<div class="card-columns">
			{% for activity in data reversed %}
			<div class="card mx-2">
				<div class="card-body">
					<h2 class="card-title text-center mb-4">{{ activity.name }}</h2>
					<h5 class="ml-3">Participants:</h5>
					<ul class="mr-3 mb-4">
						{% for person in activity.people_set.all %}
						<li class="mb-2">
							<div class="float-left text-truncate" style="width: 65%"><h6 class="card-text" style="display: inline;">{{ person.name }}</h6></div>
								<a class="btn btn-danger btn-xs float-right" href="{% url 'story6:deletePerson' pk=person.id %}" style="display: inline"><i class="material-icons" style="font-size: 15px;">delete</i></a>
						</li>
						{% endfor %}
					</ul>
					<form action="{% url 'story6:addParticipants' pk=activity.id %}" method="POST" class="is-valid mt-3">
						{% csrf_token %}
						<div class="d-flex flex-row align-items-center justify-content-center">
							{{ form.name|as_crispy_field }}
							<button class="btn btn-success btn-sm mb-3 ml-2" type="submit">
								<i class="material-icons">person_add</i>
							</button>
						</div>
					</form>
						<a class="btn btn-danger btn-sm" href="{% url 'story6:deleteActivity' pk=activity.id %}">Delete Activity</a>
				</div>
			</div>
			{% endfor %}
		</div>
</div>
{% endblock content %}