.navbar {
    font-family: 'Nunito', sans-serif!important;
    font-size: smaller;
    font-weight: 700;
    min-height: 100px;
    transition: top 0.3s;
}
.navbar-brand {
    height: 80px;
    line-height: 70px;
}
.nav-link {
    font-size: medium;
    padding-left: 3rem!important;
}
.navbar-dark .nav-item > .nav-link.active  {
    color:white;
}

@media (max-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 27px;
    }
  }