{% extends 'story8/base.html' %}

{% block content %}
<div class="container">	
    <div class="row justify-content-center px-2">
        <div class="col-10 pt-2">
            <h1 class="mt-4 pt-2">Find Books</h1>
            <hr class="mt-0 mb-4">
        </div>
        <div class="col-10 input-group mb-3">
            <input type="text" id="search-box" class="form-control" placeholder="Books to find">
            <div class="input-group-append">
                <button class="btn btn-sm btn-outline-secondary" type="button" id="search-btn">
                    <span class="material-icons">search</span>
                </button>
            </div>
        </div>
    </div><br>
    <div class="row justify-content-center px-2">
        <div class="col-10 pt-2">
            <div class="card-columns" id="search-results"></div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function(){
        function search(){
            var search = $('#search-box').val();

            $.ajax({
                url : "{% url 'story8:search'%}" + "?q=" + search,
                success : function(data){
                    console.log(search);
                    $.each(data.items, function(i, book) {
                        if (!book.volumeInfo.imageLinks) var image = "https://i.imgur.com/6s7GIy9.png"
                        else var image = book.volumeInfo.imageLinks.thumbnail
                        $('#search-results').append(`
                        <div class="card">
                            <img class="card-img-top" style="max-height: 300px;" src="${image}" alt="Book">
                            <div class="card-body">
                                <h5 class="card-title">${book.volumeInfo.title}</h5>
                                <p>Author: ${book.volumeInfo.authors}</p>
                                <p>Publisher: ${book.volumeInfo.publisher}</p>
                            </div>
                        </div>`);
                    });
                },
                type : 'GET'
            });
        }

        $('#search-btn').click(function(){
            $('#search-results').empty();
            search();
        })
    });
    var input = $("#search-box");
    input.keypress("keyup", function(e) {
        if (e.keyCode === 13) {
            $("#search-btn").click();
        }
    });
</script>
    
{% endblock scripts %}