{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark sticky-top" id="navbar" style="background-color: rgb(56, 174, 220)">
    <a class="navbar-brand pl-5" href="/">irfancen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <hr class="mt-0 mb-0 bg-light">
        <ul class="navbar-nav mt-2 mt-lg-0 ml-auto mr-5">
            <li class="nav-item">
                <a class="nav-link" id="home" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://irfancen-story.herokuapp.com/">Old Stories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="s6" href="/story6">Story 6</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="s7" href="/story7">Story 7</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="s8" href="/story8">Story 8</a>
            </li>
            {% if request.user.username == '' %}
            <li class="nav-item">
                <a class="nav-link" id="login" href="/login">Login</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" id="login" href="/logout">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block content %}
{% endblock content %}
<script src="{% static 'navbar.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $('.navbar-nav .nav-link').click(function(){
    $('.navbar-nav .nav-link').removeClass('active');
    $(this).addClass('active');})
</script>