body,
html {
    font-family: 'Nunito', sans-serif!important;
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(56, 174, 220) !important;
}

.asteriskField {
    display: none;
}

.container, #homeC {
    height: calc(100% - 100px);
}

h1 {
    color: white;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
}

.alert {
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    width: 75vw;
    left: 12.5%;
    top: 15px;
}

.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.form_container {
    margin-top: 15px;
}

#form-title{
    color: rgb(56, 174, 220);
    font-weight: bolder;
    margin: 5px auto auto auto;
}

.validation {
    color: #dc3545;
    font-size: small;
    font-weight: bold;
    margin: 0 0 0 5px;
}

.login_btn {
    width: 50%;
    background: rgb(56, 174, 220) !important;
    color: white !important;
    font-weight: 700;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: rgb(0, 148, 205) !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 361px) {
    .alert {
        position: relative;
        left: 0;
        margin: auto;
    }
}